/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
	font-size: 16px;
}
body  {
	padding: 0;
	background: #eef;
}
h1 {
	margin: 10px;
}
.container {
	max-width: 100%;
	padding: 40px 20px;
	background: linear-gradient(to top,#fbc2eb 0,#a6c1ee 100%);
	color: white;
}
@media (max-width: 600px){
	.container {
		width: 600px;
		height: 400px;
	}
	.row {
		margin: 0;
	}
}

.deret {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	margin-top: -6px;
}
.box {
	background-color: #eee;
	min-height: 100px;
	padding: 20px 0;
	font-size: 26px;
	text-align: center;
	width: 60px;
	border: 3px solid #666;
	border-radius: 15px;
	margin-left: 10px; 
}
.box.right {
	background-color: #8bc34a;
}
.box:first-child {
	margin-left: 0; 
}
.batang-deret {
	width: 600px;
	margin: 0 auto;
	border-top: 5px solid #333;
	text-align: center;
}
.batang-deret span {
	width: 0;
	margin: 0 32px;
	height: 25px;
	display: inline-block;
	border-left: 4px solid #333;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.status	{
	width: 100%;
	text-align: center;
}
.status .message {
	font-size: 15px;
}

.shadowed {
	-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,.18), 0 2px 10px 0 rgba(0,0,0,.15);
	-moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,.18), 0 2px 10px 0 rgba(0,0,0,.15);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.18), 0 2px 10px 0 rgba(0,0,0,.15);
}

.shadowed-lg {
	-webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	-moz-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}

.badge {
	width: 100%;
    font-size: 12px;
    height: 25px;
    vertical-align: middle;
    padding: 5px 0;
    margin-top: 10px;
    cursor: pointer;
}
.badge:first-child {
    margin-top: 0;
}

.card-body {
    padding: 15px 5px;
}

td {
    font-size: 12px;
    height: 65px;
    padding: 5px 15px !important;
}
td.wadah {
	padding: 0 !important; 
    width: 65px;
    background-color: #eee;
}

.thumbnail {
    width: 65px;
    display: inline-block;
    margin: 0;
    border: 1px solid white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.18) 2px 1px 4px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.18) 2px 1px 4px 1px;
    box-shadow: rgba(0, 0, 0, 0.18) 2px 1px 4px 1px;
}

#benar, #salah {
	font-size: 80px;
    color: #009688;
}
#salah {
    color: #f44336;
}