/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
	font-size: 16px;
}
body  {
	padding: 0;
	background: #eef;
}
h1 {
	margin: 10px;
}
.container {
	max-width: 100%;
	padding: 40px 0;
	background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
	color: white;
}
@media (max-width: 600px){
	.container {
		width: 600px;
		height: 400px;
	}
	.row {
		margin: 0;
	}
}

#soal {
	font-size: 4rem;
	margin: 20px 0 30px;
	position: relative;
	text-shadow:rgba(38, 38, 38, 0.3) 2px 1px 4px;
	font-weight:bold;
}
.answer-wrapper {
	display: inline-block;
	position: relative;
}
.jawaban {
	background-color: white;
	padding: 0 20px;
	border-radius: 10px;
	color: #555;
	-webkit-box-shadow:rgba(38, 38, 38, 0.3) 1px 1px 4px 0px;
	-moz-box-shadow:rgba(38, 38, 38, 0.3) 1px 1px 4px 0px;
	box-shadow:rgba(38, 38, 38, 0.3) 1px 1px 4px 0px;
}
.status {
	position: absolute;
	right: -85px;
    top: 0px;
    font-size: 4rem;
    display: inline-block;
}
.icon-ok-circled {
	color: #abff3b;
}
.icon-cancel-circled {
	color: #ffb225;
}
#garis-bilangan {
	border-top: 1px solid #333;
}
#garis-bilangan button {
	font-size: 1.1rem;
	width: 25px;
	height: 25px;
	border: 0;
	border-radius: 50%;
	transition: .3s;
	background-color: transparent;
	position: relative;
	margin-top: 10px;
	color: white;
	text-align: center;
}
#garis-bilangan button:hover {
	background-color: #FFEB3B;
    transform: scale(1.5);
    color: #222;
    line-height: 0;
}
#garis-bilangan button:before {
	content: " ";
    background-color: #666;
    width: 4px;
    height: 10px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 50%;
}

.btn-options {
	position: absolute;
	bottom: 40px;
	width: 100%;
    text-align: center;
}