/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
	font-size: 16px;
}
body  {
	padding: 0;
	background: #eef;
}
h1 {
	margin: 10px;
}
.container {
	max-width: 100%;
	padding: 40px 20px;
	background: linear-gradient(to right,#ffecd2 0,#fcb69f 100%);
	color: white;
}
@media (max-width: 600px){
	.container {
		width: 600px;
		height: 400px;
	}
	.row {
		margin: 0;
	}
}

p {
	text-indent: 20px;
}

.option-caption {
	margin-top: 10px;
	font-size: 15px;
    font-style: italic;
    transition: .2s;
}

.badge {
	margin-right: 3px;
}

.status	{
	width: 100%;
	text-align: center;
}
.status .message {
	font-size: 15px;
}

.shadowed {
	-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,.18), 0 2px 10px 0 rgba(0,0,0,.15);
	-moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,.18), 0 2px 10px 0 rgba(0,0,0,.15);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.18), 0 2px 10px 0 rgba(0,0,0,.15);
}

.shadowed-lg {
	-webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	-moz-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}

.card-body {
    padding: 15px 5px;
}

td {
    font-size: 12px;
    height: 65px;
    padding: 5px 15px !important;
}
td.wadah {
	padding: 0 !important; 
    width: 65px;
    background-color: #eee;
}

.thumbnail {
    width: 65px;
    display: inline-block;
    margin: 0;
    border: 1px solid white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.18) 2px 1px 4px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.18) 2px 1px 4px 1px;
    box-shadow: rgba(0, 0, 0, 0.18) 2px 1px 4px 1px;
}

#benar, #salah {
	font-size: 80px;
    color: #009688;
}
#salah {
    color: #f44336;
}

.card-body {
	min-height: 105px;
}