/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
	font-size: 16px;
}
body  {
	padding: 0;
	background: #eef;
}
h1 {
	margin: 10px;
}
.container {
	max-width: 100%;
	padding: 40px 0;
	background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
	color: white;
}
@media (max-width: 600px){
	.container {
		width: 600px;
		height: 400px;
	}
	.row {
		margin: 0;
	}
}

#paragraf {
	padding: 20px;
    font-size: 20px;
    border: 10px solid #9C27B0;
    margin: 20px 20px;
    max-height: 250px;
    border-radius: 30px;
	background-color: #0004;
}
#paragraf span.badge {
	padding: 0.3em 0.7em;
}
#paragraf span:not(.badge) {
	cursor: pointer;
	background-color: #eee2;
	border-radius: 5px;
}
#paragraf span:not(.badge):hover {
	text-shadow:rgb(255, 255, 255) 0px 0px 6px;
}
.text-warning {
	color: #FFEB3B !important;
}