<ons-page id="page-cover">
	<div class="scaled-container" style="background-image: url(./bg.jpg);background-size: cover;">
		<div class="p-50">
			<link rel="stylesheet" href="./logo-kemdikbud/style.css">
			<div class="logo-kemdikbud">
				<img src="logo-kemdikbud/image.png" alt="">
				<h3>KEMENTRIAN <br>PENDIDIKAN DAN KEBUDAYAAN</h3>
			</div>

			<h1 class="mt-50" style="font-weight: bold;">Simulasi</h1>
			<h2 class="mb-50">Penjumlahan dan Pengurangan Bilangan Bulat</h2>

			<p class="mb-50">Jawab soal penjumlahan/pengurangan dengan memilih angka yang terdapat pada garis bilangan</p>

			<ons-button id="push-button">Mulai Simulasi</ons-button>
		</div>
	</div>

	<script>
		$('#push-button').on('click', function(){
			myNavigator
			.pushPage('page-play.html')
			.then( () => doResize());
		})
	</script>
</ons-page>