<ons-page id="page-cover">
	<div class="scaled-container" style="background-image:url(./bg.jpg); background-size:cover; color: white">
		<div class="overlay"></div>
		<div class="p-50" style="position: relative;">
			<link rel="stylesheet" href="./logo-kemdikbud/style.css">
			<div class="logo-kemdikbud">
				<img src="logo-kemdikbud/image.png" alt="">
				<h3>KEMENTRIAN <br>PENDIDIKAN DAN KEBUDAYAAN</h3>
			</div>

			<h1 class="mt-50" style="font-weight: bold;">Simulasi</h1>
			<h2 class="mb-30">Prosedur Mematikan Komputer</h2>

			<p class="mb-50">Tarik dan simpan gambar pada teks deskripsi <strong>Cara Mematikan Komputer yang Sesuai</strong></p>

			<ons-button id="push-button">Mulai Simulasi</ons-button>
		</div>
	</div>

	<script>
		$('#push-button').on('click', function(){
			myNavigator
			.pushPage('page-play.html')
			.then( () => doResize());
		})
	</script>
</ons-page>