<ons-page id="page-cover">
	<div class="scaled-container" style="background-image: url(./bg.jpg);background-size: cover;">
		<div class="p-50">
			<h1 style="font-weight: bold;">Simulasi</h1>
			<h2 class="mb-50">Sifat Operasi Bilangan</h2>

			<p class="mb-50">Tentukan sifat dari masing-masing operasi bilangan yang tersedia dengan mengklik dan menariknya ke kotak yang sesuai dengan sifat bilangannya</p>

			<ons-button id="push-button">Mulai Simulasi</ons-button>
		</div>
	</div>

	<script>
		$('#push-button').on('click', function(){
			myNavigator
			.pushPage('page-play.html')
			.then( () => doResize());
		})
	</script>
</ons-page>