body {
  background: #ccc;
  padding: 20px;
}

.page__background {
  background-color: #222;
}

.scaled-container {
  opacity: 1;
  transition: .5s;
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  text-align: center;
  background: white;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

.bigred {
  color: red;
  font-size: 5rem;
}

iframe#thegame {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(preloader.gif) center no-repeat #fff;
}