/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
	font-size: 16px;
}
body  {
	padding: 0;
	background: #eef;
}
h1 {
	margin: 10px;
}
.container {
	max-width: 100%;
	padding: 20px;
	background: linear-gradient(to top,#fdcbf1 0,#fdcbf1 1%,#e6dee9 100%);
	color: white;
}
@media (max-width: 600px){
	.container {
		width: 600px;
		height: 400px;
	}
	.row {
		margin: 0;
	}
}

.badge {
	margin-right: 3px;
}

.status	{
	width: 100%;
}
.status	i {
	display: inline-block;
}
.status .message {
	font-size: 15px;
	display: inline-block;
    width: 65%;
    line-height: 15px;
}

.shadowed {
	-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,.18), 0 2px 10px 0 rgba(0,0,0,.15);
	-moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,.18), 0 2px 10px 0 rgba(0,0,0,.15);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.18), 0 2px 10px 0 rgba(0,0,0,.15);
}

.shadowed-lg {
	-webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	-moz-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}

.card-body {
    padding: 15px 5px;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin: 0;
  padding: 0;
}
ol li {
  counter-increment: my-awesome-counter;
  width: 50%;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
ol li::before {
  content: counter(my-awesome-counter);
  padding: 2px 5px 2px 3px;
  background: #2196F3;
  color: white;
  position: absolute;
  font-size: 12px;
  border-radius: 0 0 20%;
}
ol[start="7"] {
   counter-reset: lis 6;
}

.wadah {
    padding: 0 !important;
    width: 100%;
    background-color: #eee;
    height: 30px;
    margin-bottom: 3px;
    margin-right: 3px;
    color: #333;
    line-height: 12px;
    position: relative;
    -webkit-box-shadow:rgba(0, 0, 0, 0.13) 1px 2px 3px 1px;
	-moz-box-shadow:rgba(0, 0, 0, 0.13) 1px 2px 3px 1px;
	box-shadow:rgba(0, 0, 0, 0.13) 1px 2px 3px 1px;
}

span.label {
    background: #673ab7;
    padding: 0 6px;
    font-size: 11px;
    white-space: nowrap;
    margin: 0 2px 2px 0;
    display: inline-block;
}

.wadah span.label {
    display: inline-block;
    white-space: pre-wrap;
    color: white;
    padding: 3px 6px 3px 25px;
    margin: 0;
    min-width: 128px;
    min-height: 30px;
    border-radius: 0;
}

.thumbnail {
    width: 65px;
    display: inline-block;
    margin: 0;
    border: 1px solid white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.18) 2px 1px 4px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.18) 2px 1px 4px 1px;
    box-shadow: rgba(0, 0, 0, 0.18) 2px 1px 4px 1px;
}

#benar, #salah {
	font-size: 45px;
    color: #009688;
}
#salah {
    color: #f44336;
}

.card-body {
	min-height: 105px;
}