/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
	font-size: 16px;
}
body  {
	padding: 0;
	background: #eef;
}
h1 {
	margin: 10px;
}
.container {
	max-width: 100%;
	padding: 40px 0;
	background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
	color: white;
}
@media (max-width: 600px){
	.container {
		width: 600px;
		height: 400px;
	}
	.row {
		margin: 0;
	}
}

.deret {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	margin-top: -6px;
}
.box {
	background-color: #eee;
	min-height: 100px;
	padding: 20px 0;
	font-size: 26px;
	text-align: center;
	width: 60px;
	border: 3px solid #666;
	border-radius: 15px;
	margin-left: 10px; 
}
.box.right {
	background-color: #8bc34a;
}
.box:first-child {
	margin-left: 0; 
}
.batang-deret {
	width: 600px;
	margin: 0 auto;
	border-top: 5px solid #333;
	text-align: center;
}
.batang-deret span {
	width: 0;
	margin: 0 32px;
	height: 25px;
	display: inline-block;
	border-left: 4px solid #333;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.status	{
	margin-top: 80px;
	width: 100%;
	text-align: center;
}
.status	.badge {
	font-size:60px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius:25px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.47) 7px 9px 0px -3px;
	-moz-box-shadow:rgba(0, 0, 0, 0.47) 7px 9px 0px -3px;
	box-shadow:rgba(0, 0, 0, 0.47) 7px 9px 0px -3px;
}