.logo-kemdikbud {
	position: absolute;
	top: -10px;
	right: -20px;
	width: 200px;
	transform: scale(.7);
}
.logo-kemdikbud img {
	width: 50%;
}
.logo-kemdikbud h3 {
	font-size: 12px;
	font-weight: bold;
	margin-top: 0; 
}