/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
	font-size: 16px;
}
body  {
	padding: 0;
	background: #eef;
}
h1 {
	margin: 10px;
}
.container {
	max-width: 100%;
	padding: 40px 20px;
	background: linear-gradient(to top,#fdcbf1 0,#fdcbf1 1%,#e6dee9 100%);
	color: white;
}
@media (max-width: 600px){
	.container {
		width: 600px;
		height: 400px;
	}
	.row {
		margin: 0;
	}
}

.lingkaran {
    width: 200px;
    height: 200px;
    margin: 20px auto 0;
    border-radius: 50%;
    transition: .2s;
    position: relative;
}
#luas {
    width: 194px;
    height: 194px;
    border-radius: 50%;
    transition: .2s;
    position: absolute;
    background-color: yellow;
    top: 3px;
    transition: .2s;
    left: 3px;
}
#keliling {
    border: 3px solid green;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: .2s;
    position: absolute;
}
#radius {
    width: 100px;
    height: 3px;
    background: red;
    position: absolute;
    top: 110px;
    z-index: 100;
    transition: .2s;
    opacity: 0;
    text-align: center;
    color: #333;
}
#diameter {
    width: 100%;
    height: 3px;
    background: blue;
    position: absolute;
    top: 110px;
    z-index: 100;
    transition: .2s;
    opacity: 0;
    text-align: center;
    color: #333;
}
#luas.angkat {
	-webkit-box-shadow:rgba(0, 0, 0, 0.14) 30px 30px 5px 2px;
	-moz-box-shadow:rgba(0, 0, 0, 0.14) 30px 30px 5px 2px;
	box-shadow:rgba(0, 0, 0, 0.14) 30px 30px 5px 2px;
}

#tombol {
	margin-top: 40px;
}
#tombol li {
	list-style: none;
	color: #666;
	font-size: 22px;
	cursor: pointer;
}
#tombol li:hover {
	color: #333;
	text-shadow:rgba(0, 0, 0, 0.21) 1px 2px 2px;
}
#tombol li .box {
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}
#tombol li span {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;

}